[FORMAT]
max-line-length = 120

good-names:gp,h,hp,mp,pc,i,j,k,w,x,x1,x2,xp,y,y1,y2,z,z1,z2

[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=pygame.K*
